<html> 

<title>{{title}}
</title> 

<body bgcolor='{{ randcolor }}' style ="text-align:center;">

<h1> 
{{title}} </h1> 

{% if flag %}
         <nav > <pre >
	{% for child in node.children %}
	          
	<a href="{{child.slug}}" > {{child.title}}  </a>
          
        
        </pre></nav> &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; 
	{% endfor %}

{% else %}
        <center> 
        <img src=" {{ photo }} "> </img>
        </center><b> <center><textarea rows="5" cols="100"> {{node.content}} 
        </textarea></center> </b>
	
	

{% endif %}

</body>

</html>







        



	

